<div class="row" style="padding-top: 23px;">

  <h2 style="text-align: center; color: rgba(0,0,0,.87); font-weight: bold;">
    Favourites
  </h2>

  <div class="product--gray" *ngFor="let game of games">
    <div class="ratings" style="position: initial;">
      <span class="rating" *ngIf="game.rating">{{game.rating | number:'1.0-0'}}</span>
      <span class="rating" *ngIf="!game.rating">0</span>
    </div>
    <div class="container">
      <div class="cellphone-container">
          <div class="movie">
            <div class="movie-img" *ngIf="game.cover" style="background-image: url(https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover.image_id}}.png);"></div>
            <div class="movie-img" *ngIf="!game.cover"></div>
            <div class="text-movie-cont">
              <div class="mr-grid">
                <div class="col1">
                  <h2>{{game.name}}</h2>
                </div>
              </div>
              <div class="mr-grid action-row">
                <a routerLink="/detail/{{game.id}}" class="button">Detail</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
