<mat-toolbar color="secondary">

  <span class="title">DRAgames</span>

	<mat-nav-list class="list-horizontal">
    <mat-list-item>
      <button mat-menu-item class="mat-button" [routerLink]="'/games'">Games</button>
    </mat-list-item>
    &nbsp;
    <mat-list-item>
      <button mat-menu-item class="mat-button" [routerLink]="'/favourites'">Favourites</button>
    </mat-list-item>
    &nbsp;
    <mat-list-item>
      <button mat-menu-item class="mat-button" [routerLink]="'/platforms'">Platforms</button>
    </mat-list-item>
  </mat-nav-list>

</mat-toolbar>
